<!DOCTYPE html>
<html>
<head>
  <title>Stegomalware Detection System</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" >
  
</head>
<body>

  <div class="header">
    <h1>Stegomalware Detection System</h1>

    <h3>Welcome, {{ username }} </h3>
  </div>

  <div class="container">
    <form action="{{ url_for('detect') }}" method="post" enctype="multipart/form-data">
      <input type="file" id="file" accept=".jpg, .jpeg, .png" hidden>
      <div class="img-area" data-img="">
        <i class='bx bxs-cloud-upload icon'></i>
        <h3>Upload Image</h3>
        <p>in this case, the suspicious images <span>!</span></p>
      </div>
      <button class="select-image">Select Image</button>
      <button class="submit-img">Detect</button>
    </form>
    <form action="{{ url_for('logout') }}" method="GET">
      <button class="submit">Logout</button>
    </form>
    <div id="result"></div>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
  </div>
  
</body>
</html>
